/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --font:'IBM Plex mono';
  --main-color: #DB00FF;
  --accent-color:  #FF0070;
  --text-size: 18px;
  --text-decor-color: #000028;
  --text-bold: 700;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --rec-color:var(--accent-color);

}
